body {
  background: url("./Img/fundo.png") no-repeat center center/cover;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: #8B0000;
  padding: 30px;
  border-radius: 15px;
  width: 500px;
  color: #fff;
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  text-align: center;
}

.container h1 {
  margin-bottom: 20px;
}